spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  
logging:
  level:
    dev.joeis.lombriculturaedenshop: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
